.head {
  padding: 82px 16px 88px 16px;
  color: $text_dark;

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image {
    width: 96px;
    height: 96px;
    border: 16px solid #f6f9fd;
    border-radius: 50%;
    box-sizing: content-box;
  }

  &__text {
    display: none;
  }

  &__details {
    text-align: center;
    line-height: 32px;

    margin-top: 24px;
  }

  &__header {
    font-size: 26px;

    & special {
      color: $blue;
    }
  }

  &__description {
    font-size: 16px;
    margin-bottom: 48px;

    & a {
      color: $text_link;
      font-weight: bold;
      text-decoration: none;
    }
  }
}
