.projects {
  padding: 64px 16px 88px 16px;

  &__header {
    color: $text_dark;
    text-align: center;
    font-size: 36px;
    line-height: 48px;
    margin: 0px;

    @media (min-width: $tablet) {
      font-size: 48px;
      line-height: 56px;
    }
  }

  &__description {
    text-align: center;
    color: $text_default;
    font-size: 16px;
    line-height: 32px;
    margin: 32px auto 48px;

    @media (min-width: $tablet) {
      font-size: 20px;
      line-height: 40px;
      max-width: 768px;
      margin: 128px auto;
    }
  }
}

.projects-container {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
  }
}

.project {
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: $console_grey2;
  color: $console_grey5;
  border-radius: 16px;
  overflow: hidden;

  &__header {
    background-color: $console_grey1;
    height: 40px;
    display: flex;
    padding: 16px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    background-color: $console_grey3;
    border-radius: 50%;
    margin-right: 8px;
  }

  &__content {
    padding: 24px 16px;
    font-family: Roboto Mono;
    font-size: 13px;
    line-height: 24px;

    //do poprawy
    & a {
      color: $console_text_link;
    }
  }

  &__title {
    font-size: 13px;
    color: $white;
  }

  &__grid {
    display: grid;
    grid-template-columns: 106px 1fr;
    column-gap: 4px;
  }

  &__label {
    text-align: right;
    color: $console_grey4;
    font-weight: normal;
  }
}
