@import "~normalize.css";

@import "_variables";
@import "modules/head.scss";
@import "modules/skills.scss";
@import "modules/projects.scss";
@import "modules/contact.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $white;
  font-family: nunito;
}

.contact__mail {
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  padding: 4px 18px;
  border-radius: 64px;
  background-color: $text_link;
  display: inline-block;
}
