@import "~normalize.css";

@import "_variables";
@import "modules/head.scss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&family=Roboto+Mono&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $white;
  color: $text_dark;
  font-family: nunito;
  padding: 0 16px;
}
